In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('Data/validated_top10.csv')

In [5]:
df.head()

,path,accents,sentence
0,common_voice_en_37476269.mp3,United States English,This led to both the Red Terror and the White ...
1,common_voice_en_37740889.mp3,England English,Paper wine labels have long been collected.
2,common_voice_en_37607972.mp3,United States English,The number of chime sets matches the number of...
3,common_voice_en_37437567.mp3,United States English,The Atbara flows only while there is rain in E...
4,common_voice_en_37288403.mp3,United States English,Katsande and her son were accused of voter int...

In [6]:
df.shape

(3299, 3)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
#splitting the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(df[['path', 'sentence']], df['accents'], random_state = 52)

In [9]:
# add a column named 'set' to the df X_train with all values set to 'train'
X_train['set'] = 'train'
X_train.head()

,path,sentence,set
420,common_voice_en_37963922.mp3,Doctor Elizabeth Bartman is the immediate Past...,train
603,common_voice_en_37457236.mp3,To the south-east Kilmar Tor and Caradon Hill ...,train
1589,common_voice_en_37570352.mp3,"Mike tells Amanda the truth; terrified, she sh...",train
3191,common_voice_en_37982150.mp3,Mercy unto you and peace and love be multiplied.,train
3266,common_voice_en_38004270.mp3,The war had reached a stalemate after two year...,train

In [10]:
# add a column named 'set' to the df X_test with all values set to 'test'
X_test['set'] = 'test'
X_test.head()

,path,sentence,set
2208,common_voice_en_37289130.mp3,Rock was in these troubled times for its Roman...,test
588,common_voice_en_37285764.mp3,"He then went into business, at the age of seve...",test
1787,common_voice_en_37654285.mp3,The magazine profiles successful women to prov...,test
1302,common_voice_en_37539273.mp3,It is one of the most prominent tourist attrac...,test
297,common_voice_en_37663863.mp3,Their chloroplasts absorb a major portion of t...,test

In [11]:
# write the X_train and X_test to tsv files
X_train.to_csv('Data/train.tsv', sep='\t', index=False)
X_test.to_csv('Data/test.tsv', sep='\t', index=False)